<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.fzu.android.fdkdzs"
    android:versionCode="3"
    android:versionName="2.0.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET"/>
     <uses-permission android:name="android.permission.SEND_SMS"/>
        <uses-permission android:name="android.permission.CALL_PHONE"/>
        <uses-permission android:name="android.permission.VIBRATE" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
      	android:theme="@android:style/Theme.Light.NoTitleBar"
      	
        > 
        
        <activity
           android:name="com.StartActivity"
           android:theme="@style/Theme.Transparent"
          
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ExpressList"
            android:label="@string/app_name" >
        </activity>
          <activity android:name="com.SchoolExpressActivity"></activity>
         <activity android:name="com.MainTabActivity"
             android:windowSoftInputMode="adjustPan"
             ></activity>
        <activity android:name="com.ExpressInfoActivity"></activity>
        <activity android:name="com.MyExpressActivity"></activity>
        <activity android:name="com.AboutMe"></activity>
        <activity android:name="com.Update_Express"></activity>
        <activity android:name="com.Notification_Express"></activity>
            <activity
            android:configChanges="orientation|keyboardHidden"
            android:name="com.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
    </application>

</manifest>
